.container {
    max-width: 600px;

    margin: 100px auto;
    padding: 10px;
    border: 4px solid black;

    background: #186dff;
    color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}
