.container {
    max-width: 600px;

    margin: 100px auto;
    padding: 10px;
    border: 4px solid black;

    background: #186dff;
    color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

.exchangeButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.exchangeButton {
    cursor: pointer;
}

.exchangeButton:hover {
    opacity: 0.8;
}

.exchangeButton:disabled {
    opacity: 0.5;
}
